.loader{
    position: fixed;
    width: 100%;
    height: 100%;
    display:  flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffffb0;
    animation: stop_loader 0.1s;
    animation-delay: 2.9s;
    animation-fill-mode: both;
    z-index: 5;
    top:0;
}

.loader_spin{
    border: 5px solid $color-tertiary;
    border-top: 5px solid $color-primary;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: loading 1s ease-in-out;
    animation-iteration-count: 3;
}

@keyframes loading{
    0%{ 
        transform: rotate(0deg); 
    }
    100%{ 
        transform: rotate(360deg);
    }
}

@keyframes stop_loader{
    100%{
       opacity: 0;
       z-index: -1;
    }
}
/*header*/
.logo{
    h1{
        display: flex;
        justify-content: center;
        font-family: 'Shrikhand', cursive;
        margin-bottom: 0;
    }
}

.localisation{
    display: flex;
    justify-content: center;
    background: #eaeaea;
    border: solid 1px #eaeaea;
    margin-bottom: 0;
    box-shadow: inset 5px 11px 5px -10px rgb(173, 172, 172) ;

    h3{
        margin-left:-10px;
    }

    i {
        margin-right: 10px;
    }
}

/*main --- Haut*/
.reservation{
    display:flex;
    justify-content: center;
    background: #f6f6f6;

    &_texte{
        width:80%;
        height: auto;
        text-align: center;

        &_btn{
            margin-top: 2.5rem;
            margin-bottom: 3.125rem;

            a {
                text-decoration: none;
                color: #fff;
                padding: 1.25rem;
                background: linear-gradient(-8deg, $color-primary, $color-secondary);
                border-radius: 2.5rem;
                font-weight: bold;
                box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
            }
        }
    }
}

.reservation_texte_btn a:hover{
    filter: brightness(110%);
    transition: .5s;
}

/*main -- Milieu*/

.container_milieu{
    width: 90%;
    margin: auto;
}

.fonctionnement_etape ol{
    list-style: none; 
    counter-reset: compteur;
    padding-left: 0;
}

.fonctionnement_etape_ol_li::before {
    content: counter(compteur);
    counter-increment: compteur; 
    color: #fff;
    position: absolute;
    margin-left: -2.2rem;
    background-color: #9356DC;
    border-radius: 3.125rem;
    height:1.5rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fonctionnement_etape_ol_li{
    padding: 1.5rem;
    margin: 1rem 0 1rem 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    display: flex;
    position: relative;

    a{
        text-decoration: none;
        color: black;
        margin:auto;
        font-weight: bold;
    }
    
    i{
        display: flex;
        align-items: center;
    }
}

.fonctionnement_etape_ol_li:hover{
    background: #efe5fc;
}

.fonctionnement_etape_ol_li:hover i{
    color: $color-primary;
}

/*main -- bas*/

.container_bas{
    background: #f6f6f6;
    padding-bottom: 2.18rem;

    .restaurant{
        width:90%;
        margin: auto;
    }

    .card{
        background: white;
        border-radius: 1rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        position: relative;
    
        a{
            text-decoration: none;
            color:black;
        }

        &_img{
            width: 100%;
            height:11rem;
            transition: 0.5s;
            border-radius: 1rem 1rem 0 0;
            object-fit: cover;
        }
    }
}

.container_card{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.nouveau{
    position: absolute;
    margin: 0;
    top: 1rem;
    right: 1rem;
    background: $color-tertiary;
    padding: .3rem;
    font-weight: bold;
    border-radius: 3px;
    color: #038968;
}

.texte_card h3{
        margin-top:.6rem;
        margin-bottom: .3rem;
}

.texte_card p {
    margin-top:0.5rem;
    margin-bottom: 0.5rem;
}

.container_card_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0.5rem;
    margin-right: 1rem;
}

.coeur{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    z-index: 3;
    
    input{
        position: absolute;
        width: 3.125rem;
        height: 3.125rem;
        cursor:pointer;
        opacity: 0;
        z-index: 3;
    }

    i{
        position: absolute;
    }

    .fas{
        opacity: 0;
        transition-duration: 0.5s;
        background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    input:checked ~ .far {
        transition-duration: 0.5s;
        opacity: 0;
    }
    input:checked ~ .fas{
        transition-duration: 0.5s;
        opacity: 1;
    }
}

/* footer*/

footer{
    width: 100%;
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    background: #353535;
}

.container_footer{
    width:90%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom:1.5rem ;

    .footer_titre{
        font-family: 'Shrikhand', cursive;
        margin:0;
        color: white;
    }

    .footer_ul{
        margin-bottom: 0;
        list-style: none;
        padding-left: 0;
    }

    li{
        margin-bottom: 0.5rem;
    }

    li:last-child{
        margin-bottom: 0;
    }

    .footer_li a{
        text-decoration: none;
        color:white;
    }

    .footer_li i {
        margin-right: .3rem;
    }
}

// RESPONSIVE

@media screen and (min-width: 768px) {

    .container_card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 1.25rem;
    }

    .card_img{
        height: 13rem;
    }

    .fonctionnement_etape{
        ol{
            display: flex;
            flex-direction: row;
            gap:15%;

            li{
                margin: 0;
                width:100%;

                a{
                    text-align: center;
                }
            }
        }
    }
}
