header{
    background: white;
}


.logo_menu{
    h1{
        text-align: center;
        font-family: 'Shrikhand', cursive;
        margin: 0;
        padding-top: 1.25rem;

    }
    a{
        position: absolute;
        color: black;
        cursor: pointer;
        top:1.9rem;
        left: .6rem;
        font-size: 1.5rem;
    }
}

.img_menu{
    width: 100%;

    img{
        width: 100%;
        height:13.75rem;
        object-fit: cover;
    }
}


.container_menu_menu{
    background: #f6f6f6;
    border-radius: 2.5rem 2.5rem 0 0;
    margin-top: -3.125rem;
    position: relative;
    right: 0;
    left: 0;

    .container_menu_width{
        width: 90%;
        margin: auto;
        padding-bottom: 1px;

        .menu_titre{
            display:flex;
            justify-content: space-between;
            align-items: center;
            margin-top: .7rem;

            h2{
                margin-top:2rem;
                
                font-family: 'Shrikhand', cursive;
            }

            i{
                font-size: 1.5rem;
            }
        }
    }
}

.container_carte h3::after{
    content: " ";
    background: #99e2d0;
    display: flex;
    width: 2.75rem;
    height: 0.25rem;
}

.a_card_menu{
    text-decoration: none;
    color:black;
    width: 100%;
    display:flex;
    cursor:pointer;
}

.card_menu {
    background: #fff;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    &_text{
        
        h4{
            margin:0;
        }

        p{
            margin: 0;
            font-size: 1rem;
        }
    }
}

.container_carte h3{
    font-weight: 100;
}

.container_btn{
    width: fit-content;
    margin: 2rem auto;

    .btn_commander{
        text-decoration: none;
        color: #fff;
        padding: 1rem 3rem;
        background: linear-gradient(-8deg, $color-primary, $color-secondary);
        border-radius: 40px;
        font-weight: bold;
        display: block;
        box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
    }

    .btn_commander:hover{
        filter: brightness(110%);
        transition: .5s;
    }
}

.card_menu_text_prix{
    font-weight: bold;
    padding-top:1.25rem;
    padding-right: 0.6rem;
}

.card_menu_text{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.card_menu_text_text{
    overflow: hidden;
    margin-left: 1rem;

    h4{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    p{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.icon_menu_slider{
    padding:20px;
    background: $color-tertiary;
    border-radius: 0 1rem 1rem 0;
    margin-right: -7rem;
    margin-left:0.8rem;
	transition-duration: 0.5s;
	transition-timing-function: ease;

    i{
        color: $color-tertiary;
        background: #fff;
        border-radius: 50%;
        padding: .3rem;
    }
}

.card_menu:hover .icon_menu_slider {
    margin-right: 0;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.card_menu:hover i {
    transform: rotate(360deg);
    transition-duration: 0.5s;
}

.coeur_menu{
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    margin-right: 2rem;
}

@keyframes apparition{
    from{
        transform: translateY(10%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.card_menu{
    animation: apparition .5s ease-in both;
}

.card_menu2{
    animation-delay: 0.3s;
}

.card_menu3{
    animation-delay: .6s;
}

.card_menu4{
    animation-delay: .9s;
}

.card_menu{
    margin: 1rem 0;
}

//RESPONSIVE

@media screen and (min-width: 768px){
    .container_carte_carte{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:1rem;
    }

    .container_carte{
        overflow: hidden;
        padding:0 1rem;
    }

    .card_menu{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin: 1rem 0;
    }
}

@media screen and (min-width: 1024px) {

    body{
        font-size: 1.2rem;
    }

    .container_menu_menu{
        max-width: 80rem;
        margin-left: auto;
        margin-right: auto;
    }

    .img_menu{
        img{
            height: 20rem;
        }
    }
    
}